{%  extends "general.html" %}
{% block content %}
<div style="border: 1px solid black">
        {% for page in pages %}
            {% if subpage_name %}
                {% if requested == page.title %}
                    {% for subpage in page.subpage_set.all %}
                        {% if subpage_name|cut:" " == subpage|cut:" " %}
                            <h1>{{ subpage.title }}</h1>
                            {{ subpage.content | safe}}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% elif requested == page.title %}
                <h1>{{ page.title}}</h1>
                {{ page.content | safe}}
            {% endif %}
        {% endfor %}
{% endblock %}
</div>